[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
black = "==20.8b1"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"],version = "*"}
jinja2 = "*"
aiofiles = "*"
sqlalchemy = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "<6.0.0"}
aiosqlite = "*"
alembic = "*"
python-multipart = "*"

[requires]
python_version = "3.8"
