[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.3.0"
httpx = "*"
isort = "*"
pycln = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
requests = "*"
faker = "*"
mypy = "*"
sqlalchemy-stubs = "*"

[packages]
aiofiles = "*"
aiosqlite = "*"
alembic = "*"
fastapi = "*"
fastapi-users = {extras = ["sqlalchemy2"], version = "<10.0"}
greenlet = "*"
jinja2 = "*"
python-multipart = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"],version = "*"}
pytest-asyncio = "*"
"ruamel.yaml" = "<0.17"

[requires]
python_version = "3.8"
