{% extends 'base.html' %}
{% block content %}
<div id="main-container" class="container">
  <div class="row">
    <div class="d-flex justify-content-between header-section p-0">
      <div class="p-2">
        <h3>Secret Wiki</h3>
      </div>
      <div id="wiki-list" class="p-2"></div>
      <div id="status" class="p-2"></div>
    </div>
  </div>
  <div class="row">
    <div id="left-bar" class="col-md-3">
      <div id="page-tree"></div>
      <div id="add-new">
        <!-- Vertically centered scrollable modal -->
        <button type="button" class="page-gutter btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPageModal">
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <div id="content"></div>
    </div>
  </div>
</div>

  <div class="modal fade" id="newPageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new Page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>Page Title: <input type="text" name="page_title" id="new-page-title-input"/></div>
          <div>Page Slug: <input type="text" name="page_slug" id="new-page-slug-input"/></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearPageModal()">Close</button>
          <button type="button" class="btn btn-primary" onclick="createPage()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
