{% extends 'base.html' %}
{% block content %}
<div class="container">
  <form>
    <label>Email:</label> <input id="email-input" type="text" name="email"/>
    <label>Password:</label> <input id="password-input" type="password" name="email"/>
    <input id="register-button" type="button" value="Register" />
    <input id="sign-in-button" type="button" value="Sign In" />
  </form>
</div>
{% endblock %}

{% block extra_javascript %}
  <script src="{{ url_for('static', path='login.js') }}"></script>
{% endblock %}
