body {
  background-color: #293132;
}

.main-container {
  padding-left: 1em;
  padding-right: 2em;
  background-color: #78C2AD;
}

.App {
  background-color: #293132;
}

#app-name {
  margin-left: .5em;
  font-weight: bold;
}

.header-section {
  font-family: Trebuchet;
}

.header-wiki, .header-link{
  cursor: pointer;
  color: #293132;
  text-decoration: none;
  margin-left: 1em;
  font-size: 2em;
}

.header-wiki-selected {
  font-weight: bold;
}

#page-tree, #add-new {
  background-color: #98E2CD;
}

#page-tree {
  padding: .5em
}

.tree-page {
  display: block;
  cursor: pointer;
  color: #243;
  font-family: Trebuchet;
}

#content {
  background-color: #F9EAE1;
}

a.header-wiki {
  margin-right: 2em;
}

a.header-wiki,a.tree-page {
  cursor: pointer;
}

h2.page-title {
  padding: 1em;
}

button.page-gutter {
  height: 3em;
  width: 100%;
  margin-top: 3em;
  background-image: url('./images/plus.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2em;
}

div.page-gutter:hover {
  cursor: pointer;
}

div.page-section-gutter {
  height: 1.5em;
  border-radius: 1em;
}

div.page-section-gutter:hover {
  background-color: #EEF;
  background-image: url('./images/plus.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em;
}

div.page-section-wrapper {
  border-radius: 1em;
  padding: 1em;
}

div.page-section-wrapper:hover {
  background-color: #50D8D7;
}

div.page-section {
  margin: 1em;
}

div.section-squash {
  margin: 1em;
  padding:1em;
}

.data-entry textarea {
  padding: 1em;
  width: 100%;
}

.section-button {
  width: 100%;
}

.pencil {
padding-top: .3em;
}
